.spe {
    width: 60px;
    height: 60px;
}

.index {
    margin: 25px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-color: #aab2bd;
}

:global {
    .am-result {
        padding: 100px 0;
        .am-result-title {
            font-size: 28px;
            padding: 30px 0 18px 0;
            margin-left: 15px;
        }
        .am-result-message {
            font-size: 24px;
        }
    }
}

.head {
    height: 380px;
    .logo {
        width: 700px;
        height: 306px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .title {
        font-weight: normal;
        padding: 25px 30px 10px;
        font-size: 30px;
    }
}